*.pyc
__pycache__/
.idea/

# json'ы
poll_id.json
votes.json
task_state.json
friends.json

# Environments
.env
venv/

run.sh

# Log files
beerbot.log

# Docker
.dockerignore
docker-compose.override.yml